html {
  /* box-sizing: border-box; */
  font-size: 16px;
  margin: 0px; 
  padding: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: left; 
}

p {
font-size: 1.2rem;
}

li {
font-size: 1rem;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar { 
  position: relative;
  display: flex;
  justify-content: left;
  gap: 2rem 2rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(6, 2, 70) 0%, rgba(9,9,121,1) 23%, rgb(37, 68, 207) 100%); 
}

.navbar button{
  width: 50px;
  height: 30px;
}

#text-labels{
  font-size: 10pt
}

.title-bar-text{
  font-size: 1rem;
}

.command-prompt{
  position: fixed;
  left: 25%;
  bottom: 40%;
}

#about{
position: fixed; 
left: 30%;
bottom: 35%;
}

#contact{
position: fixed;
left: 30%;
bottom: 25vh;
}

.error{ 
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(101, 0, 216);
}

.field-row button{
  width: 50px;
  height: 30px;
}

#message{
  font-size: 1rem
}

.left-align{
  display: flex;
  justify-content: flex-start; 
}

menu[role="tablist"]{ 
z-index: 0;
}

article[role="tabpanel"]{ 
position: relative;
z-index: 0; 
}

#navbar-item{
text-decoration: none;
color: white;
padding-top: 5px;
}

.about-container{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%; 
height: 75vh;
border-style: solid;
border-color: black;
}

#about-summary{
display: flex;
width:50%;
height: 100%;
border-style: solid;
border-color: red;
}
.big-text{
font-size: 7rem; 
}

.mobile {
  visibility: hidden;
}

/* mobile shib 
small screen */
@media screen and (max-width: 600px) {
  .command-prompt{
    visibility: hidden;
  }

  #command-prompt-mobile {
    visibility: visible;
    position: fixed;
    bottom: 45%;
    left: 15%;
  }

  #contact-mobile{
    visibility: visible;
    position: fixed;
    left: 10%;
    bottom: 35vh;
  }

  #contact{
    visibility: hidden;
    position: fixed;
    left: 10%;
    bottom: 25vh;
  }
 
  #about{
    position: fixed; 
    left: 5%;
    bottom: 35%;
  }
  
}

/* large screen */
@media screen and (min-width: 600px) {
  #command-prompt-mobile {
    visibility: hidden;
    position: fixed;
  }

  #about{
    position: fixed; 
    left: 30%;
    bottom: 35%;
  }
    
  #contact{
    position: fixed;
    left: 35%;
    bottom: 25vh;
  }

  #contact-mobile{
    visibility: hidden;
    position: fixed;
  }
    
}